// photowall styles
.photowall {
    ul {
        @include clearfix;
        @include normalise-list;
    }

    li {
        float: left;
        width: 33.333333%;

        @include tablet {
            width: 20%
        }

        @include desktop {
            width: 8.333333%;
        }
    }

    img {
        margin-bottom: 0;
    }

    &__wrapper {
        overflow: hidden;
    }
}