// photowall styles
.photowall {
    ul {
        @include clearfix;
    }

    li {
        @include normalise-list;

        float: left;
        width: 20%;
    }

    img {
        margin-bottom: 0;
    }
}