// photowall styles
.photowall {
    ul {
        @include clearfix;
        @include normalise-list;
    }

    li {
        @extend .backstretch;

        float: left;
        height: 137px;
        width: 33.333333%;

        @include tablet {
            height: 154px;
            width: 20%;
        }


        @include desktop {
            height: 117px;
            width: 8.333333%;
        }
    }

    &__wrapper {
        height: 100%;
        overflow: hidden;
        width: 100%;
    }
}
