extends _layouts/base

block content
    section.section.photowall
        .photowall__wrapper
            .photoapp__polaroid
                img(src='http://placehold.it/300x300')

        ul
            li.photowall__sample