extends _layouts/base

block content
    section.section.photowall
        ul
            li
                img(scr="//placehold.it/1000x1000")
            li
                img(scr="//placehold.it/1000x1000")
            li
                img(scr="//placehold.it/1000x1000")
            li
                img(scr="//placehold.it/1000x1000")
            li
                img(scr="//placehold.it/1000x1000")
            li
                img(scr="//placehold.it/1000x1000")
            li
                img(scr="//placehold.it/1000x1000")
            li
                img(scr="//placehold.it/1000x1000")
            li
                img(scr="//placehold.it/1000x1000")
            li
                img(scr="//placehold.it/1000x1000")