extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'

block content
    section.section.photoapp
        .photoapp__loader.-hide
            svg.circular(viewbox='25 25 50 50')
                circle.path(cx='50', cy='50', r='20', fill='none', stroke-width='4', stroke-miterlimit='10')

        button.photoapp__btn.-btn.-camera.js-take-photo(type="button")
            svg(height='48', viewbox='0 0 48 48', width='48', xmlns='http://www.w3.org/2000/svg')
                circle(cx='24', cy='24', r='6.4')
                path(d='M18 4l-3.66 4h-6.34c-2.21 0-4 1.79-4 4v24c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4v-24c0-2.21-1.79-4-4-4h-6.34l-3.66-4h-12zm6 30c-5.52 0-10-4.48-10-10s4.48-10 10-10 10 4.48 10 10-4.48 10-10 10z')
                path(d='M0 0h48v48h-48z', fill='none')

        .photoapp__viewer
            img.photoapp__img

        .photoapp__controls.-disabled
            button.photoapp__btn.-btn.-delete.js-delete-photo(type="button")
                svg(height='48', viewbox='0 0 48 48', width='48', xmlns='http://www.w3.org/2000/svg')
                    path(d='M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4v-24h-24v24zm26-30h-7l-2-2h-10l-2 2h-7v4h28v-4z')
                    path(d='M0 0h48v48h-48z', fill='none')

            button.photoapp__btn.-btn.-done.js-crop-photo(type="button")
                svg(height='48', viewbox='0 0 48 48', width='48', xmlns='http://www.w3.org/2000/svg')
                    path(d='M0 0h48v48h-48z', fill='none')
                    path(d='M18 32.34l-8.34-8.34-2.83 2.83 11.17 11.17 24-24-2.83-2.83z')

            input.photoapp__hidden.js-open-photo(type='file', name='file', accept='image/*', capture='')

