extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'

block content
    section.section.photoapp
        .photoapp__message tap to snap a photo

        .photoapp__loader.-hide
            .percent 0%

            svg.circular(viewbox='25 25 50 50')
                circle.path(cx='50', cy='50', r='20', fill='none', stroke-width='4', stroke-miterlimit='10')

        .photoapp__polaroid.-hide
            button.photoapp__btn.-btn.-delete.js-delete-photo(type="button")
                svg(xmlns='http://www.w3.org/2000/svg', width='48', height='48', viewbox='0 0 48 48')
                    path(d='M38 12.83L35.17 10 24 21.17 12.83 10 10 12.83 21.17 24 10 35.17 12.83 38 24 26.83 35.17 38 38 35.17 26.83 24z')
            img

        button.photoapp__btn.-btn.-camera.js-take-photo(type="button")
            svg(viewbox='0 0 24 24')
                path(d='M4,4H7L9,2H15L17,4H20A2,2 0 0,1 22,6V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V6A2,2 0 0,1 4,4M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9Z')

        video#video(width='640', height='480', autoplay='')
